.edit-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.edit-form label {
  flex: 1;
  margin-right: 10px;
}

.edit-form h2 {
  margin-bottom: 15px;
}

.edit-form input {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  background-color: rgba(169, 70, 70, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgba(169, 70, 70, 1);
}

.licencias-section{
  margin-top: 10px;
}

#actualizar-licencias{
  margin-top: 10px;
}

.p-datepicker-prev{
  padding: 0px;
  margin: 10px;
}

.p-datepicker-next{
  padding: 0px;
  margin: 10px;
}

.p-datepicker-month{
  margin: 10px;
}

.p-datepicker-calendar thead tbody{
  width: 100%;
}

.p-datepicker-calendar td span{
  width: 100%;
  border-radius: 5px;
}

.p-datepicker-calendar-container .p-datepicker-calendar{
  margin-top: 20px;
  margin-bottom: 10px;
}

.p-monthpicker-month{
  padding: 10px;
}

.p-yearpicker-year{
  padding:10px
}