.acciones{
    display: flex;
}

.gestor-btn-cancelar{
    margin-right: 10px;
}

.gestor-btn-confirmar{
    background-color: #58BB5C;
}

.gestor-btn-confirmar:hover{
    background-color: #419544;
}

.modal-confirmar-habilitacion .p-dialog-content{
    padding-top: 10px;
    padding-bottom: 20px;
}

.gestor-contenedor-checkbox-roles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2x0px 0px;
}

.gestor-contenedor-checkbox-roles .p-field-checkbox{
   display: flex;
   gap: 10px;
   align-items: center;
}