.contenedor-para-centrar{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.contenedor-generar-cuotas{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-log-cuotas{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-generar-cuotas label{
    flex-basis: 0px;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    gap: 5px;
    width: 100%;
    margin-right: 0px;
    align-items: center;
}

.contenedor-generar-cuotas label strong {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.contenedor-generar-cuotas label input{
    width: 100%;
}

.contenedor-generar-cuotas label select{
    width: 100%;
}

#btn-generar-cuotas{
    width: 100% !important;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}

#btn-generar-cuotas:hover{
    background-color: rgb(120, 40, 40);
}