.card-observaciones{
    word-wrap: break-word;
}

.p-field{
    padding: 0px;
    
    
}

.p-dialog .p-inputtext{
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-dropdown .p-dropdown-label{
    border: none;
}

/* .datatable-container-servicios{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.tabla-servicios{
    width: 100%;
    max-width: 500px;
} */