.dialog-container {
    padding: 20px;
}

.dialog-container .p-field {
    margin-bottom: 15px;
}

.dialog-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.dialog-container input,
.dialog-container input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    color: #333;
    font-family: inherit; /* Asegura consistencia de fuente */
}

.dialog-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dialog-buttons .p-button-secondary {
    background-color: #f44336;
    border: none;
    color: white;
}

.dialog-buttons .p-button-secondary:hover {
    background-color: #d32f2f;
}

.dialog-buttons .p-button-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
}

.dialog-buttons .p-button-primary:hover {
    background-color: #388E3C;
}
