.header{
    text-align: center;
    margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Asigna 2 partes para el gráfico y 1 parte para el mantenimiento */
  gap: 20px; /* Espacio entre los componentes */
}


.contenedor-statbox{
    display: flex;
    width: 100%;
}

.statbox{
    margin: 10px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dce1e7;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statbox h3 {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.num-saldo{
    font-size: 4em;
    color: black;
}

.num-secundario{
    font-size: 3em;
    color: black;
}

.alertas-btn {
  margin: 10px;
  width: 160px;
  height: 160px; /* Asegura que el botón sea cuadrado */
  background-color: #ddd;
  border: 1px solid #dce1e7;
  border-radius: 8px;
  display: flex; /* Usamos flexbox para centrar */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.alertas-btn:hover {
  background-color: #ccc; /* Cambia el color al pasar el mouse */
}

.alertas-btn svg {
  font-size: 3em; /* Tamaño del ícono */
  color: #666; /* Color del ícono */
}


.gauge-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.gauge-box{
    padding: 15px;
    background-color: #ddd;
    border-radius: 8px;
    height: 100px;
    width: 300px;
}

.gauge h3{
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.avion-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.avion-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 8px;
    height: 400px;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nombre-avion {
    width: 100%;
    position: absolute;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: rgba(58, 58, 58);
    top: 0;
    z-index: 2;
}

.imagen-avion {
    background-color: rgb(58, 58, 58);
    flex-grow: 1;
    width: 100%;
    height: 60%; /* Asegura que la imagen ocupe solo el 60% */
    padding: 15px; /* Agrega espacio alrededor de la imagen */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-avion img {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la relación de aspecto sin recortar */
    
}

.tabla-avion {
    width: 100%;
    margin-top: 15px; /* Asegura que haya espacio entre la imagen y la tabla */
}

.tabla-avion th,
.tabla-avion td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
}

.tabla-avion td {
    font-size: 0.9em;
}


.alerta-inspeccion {
    background-color: #ffcccc; /* Fondo rojo claro */
    color: #ff0000; /* Texto rojo */
    font-weight: bold; /* Resaltar texto */
    animation: titilar 1s infinite; /* Efecto de titileo */
  }
  
  @keyframes titilar {
    0% {
      background-color: #ffcccc;
    }
    50% {
      background-color: #ffe6e6; /* Fondo más claro en el intermedio */
    }
    100% {
      background-color: #ffcccc;
    }
  }


  .atencion-inspeccion {
    background-color: #fff3cd; /* Fondo amarillo claro */
    color: #856404; /* Texto marrón oscuro */
    font-weight: bold; /* Resaltar texto */
    animation: parpadeo-amarillo 2s infinite; /* Efecto de parpadeo */
  }
  
  @keyframes parpadeo-amarillo {
    0% {
      background-color: #fff3cd;
    }
    50% {
      background-color: #ffeeba; /* Fondo más claro en el intermedio */
    }
    100% {
      background-color: #fff3cd;
    }
  }
  