.dialog-container {
    padding: 20px;
}

.dialog-container .p-field {
    margin-bottom: 15px;
}

.dialog-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.dialog-container input,
.dialog-container input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    color: #333;
    font-family: inherit; /* Asegura consistencia de fuente */
}

.dialog-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dialog-buttons .p-button-secondary {
    background-color: #f44336;
    border: none;
    color: white;
}

.dialog-buttons .p-button-secondary:hover {
    background-color: #d32f2f;
}

.dialog-buttons .p-button-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
}

.dialog-buttons .p-button-primary:hover {
    background-color: #388E3C;
}


.p-multiselect{
    margin: 10px 0px;
    padding: 10px;
}

.p-multiselect-panel{
    padding: 5px;
}

.p-multiselect-header{
    gap: 10px;
    padding: 10px;
}

.p-multiselect-item{
    padding: 10px;
    gap: 10px;
}

.p-multiselect-filter-icon{
    transform: translate(-50%, -50%);
}

.p-multiselect-close{
    padding: 0px;
}

.p-multiselect-token{
    padding: 7px;
    gap: 7px;
    margin-right: 5px;
    border-radius: 5px;
}

.p-multiselect-label{
    gap: 10px;
}

.p-multiselect-clear-icon{
    transform: translate(-50%, -50%);
    color: rgba(169, 70, 70, 1);    
}

#field-tarifa-con-instructor{
    display: flex;
    gap: 10px;
    align-items: center;
}

#field-tarifa-con-instructor label{
    margin: 0;
}

.dropdown-tipo-tarifa{
    width: 100%;
    margin-top: 3px;
    padding: 8px;
    height: 37px;
}