/* background.css */

/* Estilos generales */
.background {
    width: max-content;
    min-width: 100%;
    margin: 0;
    padding: 4%;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Encabezados generales */
.header h1 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 1rem;
    margin: 0;    
    justify-self: center;

}

h3 {
    font-size: 1.2em;
    color: #333;
}
