
.p-datatable {
    border-radius: 10px; /* Adjust the value as needed */
    overflow: hidden; /* Prevents content from overflowing rounded corners */
    margin-top: 5px;
    border: 2px solid #ddd;
}

.p-datatable-thead{
    background-color: rgba(169, 70, 70, 1);
    color: white;
    text-align: center;
}

.p-datatable-thead tr th{
    padding: 8px 4px;
}

.p-datatable-tbody td{ 
    padding: 12px 12px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.p-datatable-tbody tr:hover td {
    background-color: #dcdcdc !important; /* Change to any color you prefer */
}

.p-datatable-tbody tr:nth-child(odd) td {
    background-color: #f0f0f0; /* Change to the color you prefer */
}

.p-paginator{
    background-color: #e8e8e8;
    padding: 10px;
}

.p-paginator-page,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-next,
.p-paginator-last {
  margin-right: 8px; /* Adjust this value as needed */
  background-color: rgba(169, 70, 70, 1);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: 0px;
}

.p-dropdown{
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    height: 2rem;
    width: 5rem;
    background-color: #ffffff;
}

.p-dropdown-trigger{
    width: 1rem;
}

.p-dropdown-panel{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.p-dropdown-item{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3px;
    background-color: rgba(169, 70, 70, 1);
    color: white;
}

.p-dropdown-item:hover{
    background-color: #777;
}

.p-sortable-column-icon {
    margin-left: 8px; /* Add space to the left of the sorting icon */
}

/* Estilado del botón de filtros y su menú */

.p-column-filter .p-inputtext {
    background-color: #f9f9f9;      
    border: 1px solid #ccc;        
    font-size: 14px;                
    border-radius: 4px;         
    width: 100%;                    
}

.p-column-filter-menu-button {
    margin-left: 4px;
    margin-right: 4px;
}

.p-column-filter-overlay{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.p-column-filter-row-item{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3px;
    background-color: rgba(169, 70, 70, 1);
    color: white;
}

.nuevo {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nuevo i {
    margin-right: 8px;
    font-size: 18px;
}

.nuevo:hover {
    background-color: #45a049;
}

/* estilado de los popups */

.p-dialog{
    font-family: 'Arial', sans-serif;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.p-dialog-header{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.p-dialog-mask{
    background-color: rgba(0, 0, 0, 0.3);
}

.p-dialog-content{
    padding: 10px;
}
.p-dialog-content .p-fluid .p-field{
    margin: 20px 0px 20px 0px;
    gap: 10px;
}

.p-datatable .p-dialog-content .p-fluid .p-field label{
    margin: 20px 0px 20px 0px;
    gap: 10px;
    font-weight: normal !important;
}

.p-dialog-content .p-fluid .p-field input{
    margin-top: 3px;
    padding: 8px;
}

.p-dialog-content .p-d-flex .p-button{
    margin-right: 10px;
}

#btn-guardar{
    background-color: #4CAF50;
    margin-top: 10px;
}

.p-dialog-header-icon{
    width: 50px;
}

.p-column-filter-clear-button{
    display: none;
}

.center-header {
    text-align: center;
    
}

.p-dialog .p-card{
    padding: 10px;
}

.details-dialog .p-card{
    margin-bottom: 10px;
}

.p-column-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-datatable .p-datatable-thead > tr > th {
    border-right: 1px dotted #aaaaaa; /* Add a border between headers */
  }
@media(max-width:750px){
   
    .p-column-header-content{
        padding: 4px
    }

    .p-sortable-column-icon{
        width: 10px;
        height: 10px;
    }
    
    .p-paginator-page,
    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
    padding: 0px !important;
    height: 30px;
    }

    .p-dropdown{
        height: 30px;
        padding: 4px 8px;
    }

    .p-dropdown-trigger{
        width: 1rem;
    }

    .columna-ancho-min{
        min-width: 200px;;
    }
}

