/* Estilos globales para resetear márgenes, padding y establecer box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para el contenedor principal del sidebar */
.sidebar-container {
    width: 20%;
    min-width: 150px;
    background-color: #E4E4E4; /* Color de fondo del sidebar */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); /* Sombra alrededor del sidebar */
    font-family: 'Arial', sans-serif; /* Tipografía */
    transition: transform 0.3s ease-in-out; /* Transición suave al expandir o contraer */
    overflow-y: auto;
}

/* Estilos de la cabecera del sidebar */
.sidebar-header {
    display: flex; /* Utiliza flexbox para distribuir el contenido */
    justify-content: space-between; /* Espacio entre el nombre y la flecha */
    align-items: center; /* Alineación vertical */
    padding: 1em; /* Espaciado interno */
    background-color: rgba(169, 70, 70, 1); /* Color de fondo de la cabecera */
}

/* Información del usuario y el rol en la cabecera */
.sidebar-header-info {
    font-weight: bold; /* Texto en negrita */
    color: white; /* Color del texto */
    text-align: left; /* Alineación del texto a la izquierda */
    font-size: 16px;
}

.sidebar-header-img {
    width: 50px; /* Tamaño ajustado */
    height: 50px; /* Proporción cuadrada */
    border-radius: 50%; /* Imagen redonda */
    object-fit: cover; /* Evita deformaciones */
    float: right; /* Alinea la imagen a la derecha */
    cursor: pointer;
}



/* Estilo para el separador en la cabecera */
.divisor-header {
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    height: 2px;
    background-color: rgb(255, 255, 255); /* Color del separador */
}

/* Estilos para la flecha de alternancia del sidebar */
.toggle-arrow {
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    font-size: 1.5em; /* Tamaño de la flecha */
    color: white; /* Color de la flecha */
    text-align: right; /* Alineación a la derecha */
}

/* Estilos para los enlaces en el sidebar */
.sidebar-navbar {
    padding: 5px;
    list-style: none; /* Eliminar los puntos de lista */
    display: flex;
    flex-direction: column; /* Colocar los elementos en columna */
}

/* Mostrar los enlaces cuando el sidebar esté expandido */
.sidebar-navbar.show {
    display: flex; /* Mostrar los enlaces cuando el sidebar esté expandido */
}

/* Estilos para cada enlace del sidebar */
.sidebar-navbar-link {
    background-color: #E4E4E4; /* Fondo blanco para cada enlace */
    color: black; /* Color del texto */
    display: flex;
    align-items: center;
    text-decoration: none; /* Eliminar subrayado */
    font-size: 15px;
    margin: 4px 16px; /* Margen entre los enlaces */
    padding: 10px; /* Espaciado interno */
    text-align:left; /* Alineación centrada del texto */
    transition: transform 0.2s ease, background-color 0.2s ease; 

    
}
.sidebar-navbar-link .icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    font-size: 18px;
  }

/* Estilo al pasar el ratón sobre un enlace */
.sidebar-navbar-link:hover {
    color: rgba(169, 70, 70, 1); 
    background-color: rgb(225, 179, 179); /* Fondo rojo cuando se pasa el ratón */
    transform: scale(1.05); /* Agranda el botón un 5% */
}

.sidebar-navbar-link.active {
    background-color: rgba(169, 70, 70, 1); /* Color de fondo cuando el botón está activo */
    color: white; /* Color del texto en el botón activo */
    font-weight: bold; /* Opcional: para resaltar más el botón */
}