/* Contenedor del dropdown */
.dropdown-container {
    position: relative;
    width: 100%;
    /* max-width: 350px; */
    font-family: Arial, sans-serif;
  }
  
  .dropdown-header {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px 20px;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-header:hover {
    border-color: var(--brand-color); /* Color del borde cuando se pasa el mouse */
    box-shadow: 0 0 5px var(--brand-color-dark);
  }
  
  /* Crear la flecha hacia abajo */
  .dropdown-header::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333; /* Flecha hacia abajo */
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 85%;
    margin: 1px 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    overflow: hidden;
  }
  
  .dropdown-item {
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: var(--brand-color); /* Color de fondo en hover */
    color: #fff; /* Texto blanco */
  }
  
  .menu-opciones p {
    color: #333;
    font-size: 16px;
    text-align: center;
  }
  