.header {
  margin-bottom: 20px;
  position: relative; /* Para posicionar elementos dentro del contenedor */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el título horizontalmente */
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
  text-align: center; /* Asegura que el texto del título esté centrado */
}

.header .back-button {
  position: absolute; /* Permite posicionarlo fuera del flujo normal */
  left: 10px; /* Ajusta la distancia al borde izquierdo */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta el centrado exacto */
  padding: 5px;
}
/* Sección de estadísticas */
.stats-section {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1 1 45%;
  background-color: #ffffff;
  border: 1px solid #dce1e7;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-box h3 {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

/* Sección de CMA */
.cma-section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dce1e7;
  text-align: center;
  margin-bottom: 20px;
}

.cma-section p {
  margin: 5px 0;
  color: #4a90e2;
  font-weight: bold;
}

.cma-section .status-vigente {
  color: green;
}

.cma-section .status-vencida {
  color: red;
}

/* Sección de la tabla */
.table-section {
  margin-bottom: 20px;
}

/* Sección de licencias */
.licencias-section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dce1e7;
}

.licencias-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.licencias-section li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.cma-vigente {
  background-color: #d7ecdb;
}

.cma-no-vigente {
  background-color: #b33030;
}